Django
django-jazzmin
django-crispy-forms
django-import-export
django-mathfilters
django-ckeditor
django-ckeditor-5
django-taggit
environs
stripe
xhtml2pdf
requests
openpyxl
google-generativeai
Pillow
python-dotenv
gunicorn
shortuuid
